@import "../../_variables.scss";

button {
  cursor: pointer;
}

.button {
  display: inline-block;
  border-radius: $border-radius-medium;
  padding: 7px 10px;
  width: fit-content;
}

.button:disabled {
  opacity: 0.4;
  cursor: not-allowed;
}

.button__primary {
  margin-right: 12px;
  background-color: $color-red-1;
  border: 1px solid $color-red-1;
  color: $color-white;
}

.button__secondary {
  background-color: $color-white;
  border: 1px solid $color-grey-3;
}

.button__secondary:hover {
  background-color: $color-grey-1;
}
.button__primary:hover {
  background-color: $color-red-1;
  border: 1px solid $color-grey-3;
  color: $color-white;
}
.button_size_small {
  font-size: 12px;
  padding: 10px 16px;
}
.button_size_medium {
  font-size: 14px;
  padding: 11px 20px;
}
.button_size_large {
  font-size: 16px;
  padding: 12px 24px;
}
.addTask__line {
  margin: 0 0 2rem 0;
}
