// Imports
@import "./variables";

@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;700;900&display=swap");

//General
html {
  box-sizing: border-box;
}

*,
*:before,
*::after {
  box-sizing: inherit;
}

body {
  line-height: 1;
  font-family: "Railway", sans-serif;
  font-size: $font-size-primary;
  font-weight: 300;
  color: $color-black-1;
  overscroll-behavior: none;
  margin: 0;
}
/* width */
::-webkit-scrollbar {
  width: 7px;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: $color-grey-5;
  border-radius: 10px;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(20 25 33);
}

h1 {
  font-size: $font-size-large;
  @media screen and (max-width: 720px) {
    font-size: $font-size-small;
  }
}

h2 {
  margin: 0;
  font-size: $font-size-primary;
  font-weight: 700;
}

ul {
  margin: 0;
  padding: 0;
}

hr {
  border: none;
  height: 1px;
  width: 100%;
  background-color: $color-grey-1;
  margin-top: 5px;
}

a {
  text-decoration: none;
  color: $color-black-1;
}

// Removes dropdown arrows in major browsers
select {
  -moz-appearance: none;
  -webkit-appearance: none;
}
select::-ms-expand {
  display: none;
}

// Header
.header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  height: 60px;
  width: 100%;
  background-color: $color-red-1;
  padding: 0 40px;
  color: $color-white;
  z-index: 100;

  .header__left {
    @include va;

    .header__item {
      margin-right: 8px;
    }
  }

  .header__right {
    display: flex;
    justify-content: flex-end;

    .header__item {
      margin-left: 8px;
    }

    .header__disabled {
      cursor: not-allowed;
    }
  }

  .header__item {
    @include va;
    justify-content: center;
    cursor: pointer;
    width: 30px;
    height: 30px;
    padding: 5px;

    &:hover {
      border-radius: $border-radius-small;
      background-color: $color-grey-7;
    }
  }

  a {
    color: $color-white;
  }

  @media screen and (max-width: 720px) {
    padding: 0 12px;
  }
}

// Page
.page {
  display: flex;
  width: 100%;
}

// Content
.content {
  width: 100%;
  max-width: 900px;
  margin: auto;
  padding: 2.5rem 3rem;

  .content__section {
    margin-top: 45px;

    .content__subTitle {
      margin-bottom: 8px;
    }
  }

  @media screen and (max-width: 720px) {
    padding: 2.5rem 1rem;
  }
}

// Filter Buttons
.filter-holder {
  margin: 0 0 1.5rem;

  .button {
    margin-right: 10px;
    svg {
      margin-right: 10px;
    }
  }
}
