*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
:root {
	--primary-color: #038a23;
	--secondary-color: #008A93;
	--font-family: "Open Sans", sans-serif;
	--black-1: #646681;
	--black-2: #585858;
	--bg-1: #f8f8ff;
	--bg-2: #ecedf6;
	--bg-3: #cccdde;
	--gray-1: #eee;
	--gray-2: #cecece;
	--black: black;
	--white: white;
	--font-size: 14px;
	--font-mid-text: 18px;
	--font-big-text: 28px;
	--border-radius: 7px;
	--max-width: 1200px;
	--custom-font-size: 18px;
	--padding: 1.5rem;
	--margin: 1.5rem;
}
body {
	font-family: var(--font-family);
	width: 100%;
	min-height: 100vh;
	background-color: var(--bg-1);
}
* {
	font-family: var(--font-family);
}
.container {
	max-width: var(--max-width);
	width: 100%;
	padding: var(--padding);
	margin: 0 auto;
}
h1{
	font-size: var(--font-big-text);
	margin-bottom: var(--margin);
}